<div class="card h-100">
  <img
    [src]="productItems.image"
    class="card-img-top"
    style="width: 50%; margin: 0 auto"
  />
  <div class="card-body">
    <h5 class="card-title">{{ productItems.title }}</h5>
    <p class="card-text">
      {{ productItems.description }}
    </p>
    <p class="card-text bg-secondary">
      {{ productItems.category }}
    </p>
    <p class="card-text bg-danger">
      {{ productItems.price | currency: "EGY " }}
    </p>
    <button class="btn btn-success" (click)="goToPage(productItems)">
      go to your page
    </button>
    <!-- addToCartItem -->
    <button class="btn btn-primary" (click)="addToCartItem(productItems.id)">
      + Add To Cart
    </button>
    <button
      class="btn btn-secondary btn-sm"
      (click)="addToWishList(productItems)"
    >
      add to wish List
    </button>
  </div>
</div>
