.card {
  &-title {
    margin-bottom: 0.75rem;
    font-weight: bold;
    color: #14274e;
  }
  &-text {
    font-size: 1.2rem;
  }
  &__category {
    margin-top: 5rem;
  }
  img {
    height: 200px;
  }
  height: 500px;
  &__footer {
    background: #f1f6f9;
    padding: 0.5rem 1rem;
    text-align: right;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__icon {
    border: 1px solid var(--sec);
    padding: 10px;
    border-radius: 50%;
    background-color: transparent;
    margin-right: 0.5rem;

    &.red {
      border-color: var(--red);
    }
    &.blue {
      border-color: var(--blue);
    }
  }
}
