.wishlist {
  border-left: 1px solid #333;
  background-color: #e1e1e1;
  height: 100%;
  .card {
    padding: 10px;
  }
  h5 {
    font-size: 0.75rem;
  }
}

svg {
  fill: currentColor;
  path {
    color: #e1e1e1;
  }
}
