<div class="wishlist">
  <p class="wishlist__empty" *ngIf="!wishListQuant">
    there's no wishlist items!
  </p>
  <p class="wishlist__number" *ngIf="wishListQuant">
    number of items: {{ wishListQuant }}
  </p>
  <div class="container">
    <div *ngFor="let item of wishList">
      <div class="card mb-3 mx-auto" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              [src]="item.image"
              class="img-fluid rounded-start"
              [alt]="item.title"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p>{{ item.description | sliceString: 70 }}</p>
              <div class="buttons">
                <button
                  class="btn__remove red"
                  (click)="removeFromWishItems(item.id)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                  >
                    <path
                      d="M10.975 8 11 7.5a6.45 6.45 0 0 0-.181-1.5h5.993l-.564 2h-5.273zM8.5 18a1.5 1.5 0 1 0 .001 3.001A1.5 1.5 0 0 0 8.5 18zM19.805 3l-3.432 12H5.945l-.455-1.083A6.59 6.59 0 0 1 4.5 14a6.49 6.49 0 0 1-1.191-.114L4.615 17h13.239l3.474-12h1.929L24 3h-4.195zM13.5 18a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9 7.5A4.501 4.501 0 1 1 4.5 3C6.982 3 9 5.015 9 7.5zM7 7H2v1h5V7z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
